<h2>Change Password</h2>



<div id="content">

{if !empty($message)}
	<p class="standard-alert box">{$message}</p>
{/if}

{if !empty($success)}
	<p class="standard-success box">{$success}</p>
{/if}

<form action="" method="post">

	<label for="current">Current password:</label>
	<br />
	<input type="password" name="current" id="current" size="40" />
	<br />


	<label for="newpass">New password:</label>
	<br />
	<input type="password" name="newpass" id="newpass" size="40" />
	<br />


	<label for="newpassagain">New password again:</label>
	<br />
	<input type="password" name="newpassagain" id="newpassagain" size="40" />
	<br />
	<br />
	
	<input type="submit" value="Change Password" /> <a href="{$this->baseUrl()}/admin/">cancel</a>

</form>

</div><!-- content -->