<h2>Experiment <em>{$experiment->getName()}</em></h2>

<a href="{$this->baseUrl()}/admin/client/new?experimentId={$experiment->getId()}" class="button">New API Key</a>

<ul id="submenu" class="clearfix">
	<li><a href="{$this->baseUrl()}/admin/experiment?id={$experiment->getId()}">Overview</a></li>
	<li><a href="{$this->baseUrl()}/admin/visitor?experimentId={$experiment->getId()}">Visitors</a></li>
	<li><a href="{$this->baseUrl()}/admin/role?experimentId={$experiment->getId()}">User Roles</a></li>
	<li><a href="{$this->baseUrl()}/admin/client?experimentId={$experiment->getId()}" class="active">API Keys</a></li>
</ul>


<div id="content">

<h3>Api Keys</h3>

{foreach $experiment->getClients() as $client}
	<p><strong>{$client->getName()}</strong><br />
	   Key: {$client->getId()}<br />
	   Shared Secret: {$client->getSecret()}<br />
	   <a href="{$this->baseUrl()}/admin/client/delete?id={$client->getId()}&experimentId={$experiment->getId()}" onclick="return confirm('Are you sure you want to delete this API Key?')">delete</a>
	  </p>
{/foreach}

</div><!-- content -->
